= render 'page'
-#%h3
-#  Ремонтно-строительные работы
-#%p
-#  %ol
-#    %li Изготовление, монтаж, ремонт металлических конструкций
-#    %li Установка дверных и оконных блоков
-#    %li Полы (деревянные, бетонные, ламинат, линолеум и т.д.)
-#    %li
-#      Штукатурно-малярные работы
-#      .photos
-#        - (1..12).each do |i|
-#          = link_to image_tag("photo/indor_#{i}.jpg", class: 'thumb'), "/assets/photo/indor_#{i}.jpg", class: 'fancybox', rel: 'photos'
-#    %li
-#      Сантехнические работы
-#      .photos
-#        - (1..3).each do |i|
-#          = link_to image_tag("photo/wc_#{i}.jpg", class: 'thumb'), "/assets/photo/wc_#{i}.jpg", class: 'fancybox', rel: 'photos'
-#    %li Земляные работы
-#    %li Фундаменты
-#    %li Кровли
-#    %li
-#      Фасады
-#      .photos
-#        - (1..5).each do |i|
-#          = link_to image_tag("photo/fasad_#{i}.jpg", class: 'thumb'), "/assets/photo/fasad_#{i}.jpg", class: 'fancybox', rel: 'photos'
