!!!
%html
  %head
    %title Технолес
    = stylesheet_link_tag    "application", media: "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body
    .container
      %h1
        = link_to 'Технолес', root_path
      %h3.muted Хабаровск
    .container
      - unless params[:action] == 'index'
        %ul.nav.nav-tabs
          - @pages.each do |page|
            %li{class: ('active' if params[:action] == page.name)}
              = link_to page.title, "/#{page.name}"
      = yield
      %hr
      .footer
        %h4 Контакты
        %p
          (4212) 602-043, +7-962-220-20-43
        %p
          (4212) 246-673,  +7-914-159-66-73
        %p
          Email:
          = link_to 'tehnoles10@mail.ru', 'mailto:tehnoles10@mail.ru'
