!!!
%html
  %head
    %title Технолес
    = stylesheet_link_tag    "application", media: "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body
    .container
      %header
        .phone
          = image_tag 'phone_ico.png'
          .contact
            +7 (4212)
            %span 602-043
            %br
            +7 (4212)

            %span 246-673
          / .contacts
          /   .phone 
          /     (4212)
          /     %span.big-digit 602-043

          /   .phone 
          /     (4212)
          /     %span.big-digit 246-673

        = link_to image_tag('tehles.png'), root_path
        / .clear
      - unless params[:action] == 'index'
        %ul.nav.nav-tabs
          - WORK_TYPES.each do |work_type|
            %li{class: ('active' if params[:action] == work_type[0].to_s)}
              = link_to work_type[1], "/#{work_type[0]}"
      

      = yield
    %footer
      %h4 Контакты
      (4212) 602-043, +7-962-220-20-43
      %br
      (4212) 246-673,  +7-914-159-66-73
      %p
        Email:
        = link_to 'tehnoles10@mail.ru', 'mailto:tehnoles10@mail.ru'
